.form {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  border-radius: 15px;
}

input{
  border: #0571b9 solid 1.5px;
  border-radius: 5px;
  padding: 5px 0px;
}

input::placeholder {
  color: #0571b937;
  font-weight: 300;
  padding-left: 5px;
}

button {
  background-color: #0571b9;
  border-radius: 3px;
  color: #fff;
  text-transform: none;
  border: none;
  width: 20rem;
  height: 30px;
}

h1 {
  color: #0571b9;
  font-weight: 600;
  font-size: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
}

.nameEmail {
  & input {
      width: 20rem;
  }
}

.duascolunas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & input {
      width: 9rem;
  }
}

p{
  color: #0571b9;
  font-weight: 600;
  padding-top: 14px;
  margin-bottom: -1px
}

.alert{
  color: red;
  font-size: 0.6rem;
  font-weight: 600;
}

.disabled{
  background-color: #0571b92b;
  border-radius: 3px;
  color: #fff;
  text-transform: none;
  border: none;
  width: 20rem;
  height: 30px;
}

.uploadImg{
  width: 20rem;
}

.link{
  color: rgb(29, 29, 29);
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;

  & a {
      color: rgba(0, 0, 0, 0.68);
  }
}
