form {
    max-width: 35em;
    width: 100%;
    margin: 2em auto 2em auto;
    background-color: whitesmoke;
    border-radius: 12px;
    margin-bottom: 1em;
    .form {
        font-size: 0.95em;
        font-weight: bold;
    }
    input {
        outline: none;
        font-size: 1em;
        width: 100%;
        margin: 2px auto 2px auto;
        padding: 6px;
        border: 1px solid #000;
        border-radius: 4px;
        &:hover {
            border: 2px solid #000;
        }
    }
    textarea {
        outline: none;
        font-size: 1em;
        width: 100%;
        margin: 2px auto 2px auto;
        padding: 6px;
        border: 1px solid #000;
        border-radius: 4px;
        &:hover {
            border: 2px solid #000;
        }
    }
}