.report {
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;

  .report__table {
    background-color: #F7F7F7;
    width: 100%;
    border-radius: 10px;

    td:first-child {
      width: 40%;
    }

    .report__header {
      border-bottom: 1px solid #E3E3E3;

      h3 {
        padding: 5px 10px;
        font-weight: bold;
        margin-bottom: 0;
      }
    }

    .report__body {

      tr:nth-child(2n) {
        background-color: #F1F1F1;
      }

      img {
        max-width: 20px;
      }

      h4 {
        padding: 0 10px;
      }

      h4:first-child {
        padding-top: 10px;
      }
    }
  }
}
