<div *ngIf="isLogged, else pendingLogin">
    <section class="container">
        <header class="header d-flex">
            <h2 (click)="onclickUndone()" class="ff-inter">Cursos em Andamentos</h2>
        </header>
        <div class="mural" *ngIf="visibleUndone">
            <div class="mural" *ngIf="trainingListUnDone.length > 0, else noTrainingUndone">
                <div *ngFor="let training of trainingListUnDone">
                    <app-training-card [training]="training" [isRegistered]="true"></app-training-card>
                </div>
            </div>
        </div>
    </section>
    <ng-template #noTrainingUndone>
        <div class="ff-inter sem-pensamentos">
            <p>Não ha cursos em andamentos!</p>
        </div>
    </ng-template>

    <section class="container">
        <header class="header d-flex">
            <h2 (click)="onclickDone()" class="ff-inter">Cursos Finalizados</h2>
        </header>
        <div class="mural" *ngIf="visibleDone">
            <div class="mural" *ngIf="trainingListDone.length > 0, else noTrainingUndone">
                <div *ngFor="let training of trainingListDone">
                    <app-training-card [training]="training" [isRegistered]="true" [isCompleted]="true"></app-training-card>
                </div>
            </div>
        </div>
    </section>
    <ng-template #noTrainingDone>
        <div class="ff-inter sem-pensamentos">
            <p>Não ha cursos Finalizados!</p>
        </div>
    </ng-template>

</div>
<ng-template #pendingLogin>
    <div class="ff-inter sem-pensamentos">
        <p>Voce não esta logado!</p>
    </div>
</ng-template>