<div *ngIf="isLogged, else pendingLogin">
    <section class="container">
        <header class="header d-flex">
            <h2 (click)="onclickUndone()" class="ff-inter">Cursos em Andamentos</h2>
        </header>
        <div class="mural" *ngIf="visibleUndone">
            <div class="mural" *ngIf="true, else noTrainingUndone">
                <p>Training Undone</p>
                <!-- <div *ngFor="let pensamento of listaPensamentos"> -->
                <app-training-card></app-training-card>
                <app-training-card></app-training-card>
                <app-training-card></app-training-card>
                <app-training-card></app-training-card>
                <app-training-card></app-training-card>
                
                <app-training-card></app-training-card>
                <app-training-card></app-training-card>
                <app-training-card></app-training-card>
                <!-- </div> -->
            </div>
        </div>
    </section>
    <ng-template #noTrainingUndone>
        <div class="ff-inter sem-pensamentos">
            <p>Não ha cursos em andamentos!</p>
        </div>
    </ng-template>


    <section class="container">
        <header class="header d-flex">
            <h2 (click)="onclickDone()" class="ff-inter">Cursos Finalizados</h2>
        </header>
        <div class="mural" *ngIf="visibleDone">
            <div class="mural" *ngIf="true, else noTrainingDone">
                <p>Training Done</p>
                <!-- <div *ngFor="let pensamento of listaPensamentos"> -->
                <app-training-card></app-training-card>
                <app-training-card></app-training-card>
                <app-training-card></app-training-card>
                <!-- </div> -->
            </div>
        </div>
    </section>
    <ng-template #noTrainingDone>
        <div class="ff-inter sem-pensamentos">
            <p>Não ha cursos Finalizados!</p>
        </div>
    </ng-template>

</div>
<ng-template #pendingLogin>
    <div class="ff-inter sem-pensamentos">
        <p>Voce não esta logado!</p>
    </div>
</ng-template>