  .card {
      width: 250px;
      transition: 0.5s all;

      box-shadow: 2px 3px 45px -14px #000000;
      margin: 5px;
  }

  .card:hover {
      transform: scale(1.2);
      box-shadow: 2px 3px 45px -4px #000000;
  }