<form class="form" [formGroup]="form">
  <div class="div d-flex justify-content-center">
    <div class="div p-2">
      <div class="div-input p-2">
        <input formControlName="name" placeholder="Nome do Treinamento" type="text" />
        <p *ngIf="form.get('name')?.errors?.['required'] &&
        form.get('name')?.touched" class="warning-message">Campo obrigatório</p>
        <p class="warning-message" *ngIf="!(form.get('name')?.errors?.['required'] &&
        form.get('name')?.touched)">&nbsp;</p>
      </div>
      <div class="div p-2">
        <input formControlName="instructor" placeholder="Professor" type="text" />
        <p *ngIf="form.get('instructor')?.errors?.['required'] &&
        form.get('instructor')?.touched" class="warning-message">Professor obrigatório</p>
        <p *ngIf="!(form.get('instructor')?.errors?.['required'] &&
        form.get('instructor')?.touched)" class="warning-message">&nbsp;</p>
      </div>
      <div class="div p-2">
        <input formControlName="duration" placeholder="Duração" type="number" min="8" max="100" />
        <p *ngIf="form.get('duration')?.errors?.['required'] &&
        form.get('duration')?.touched" class="warning-message">Duração obrigatória</p>
        <p *ngIf="!(form.get('duration')?.errors?.['required'] &&
        form.get('duration')?.touched)" class="warning-message">&nbsp;</p>
      </div>
    </div>
    <div class="div p-2">
      <div class="div p-2">
        <textarea class="formControl" rows="3" formControlName="summary" placeholder="Resumo do Treinamento"
          type="text">
      </textarea>
        <p *ngIf="form.get('summary')?.errors?.['required'] &&
      form.get('summary')?.touched" class="warning-message">Resumo obrigatório</p>
        <p *ngIf="!(form.get('summary')?.errors?.['required'] &&
      form.get('summary')?.touched)" class="warning-message">&nbsp;</p>
      </div>

    </div>
  </div>
</form>
