
<form [formGroup]="form" class="container" >
  <div>
    <h1 class="title">Criar nova senha</h1>
  </div>
  <mat-dialog-content class="dialog-form">
    <mat-form-field appearance="outline" [formGroup]="form">
      <mat-label>Digite seu email</mat-label>
      <input formControlName="email" matInput placeholder="pat@example.com" />
      <mat-error *ngIf="errorMsg == false">Email inválido!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" [formGroup]="form">
      <mat-label>Digite sua senha nova senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>A senha deve conter no mínimo 8 caracteres (números e letras)*</mat-hint>
      <mat-error *ngIf="errorMsg ">Senha incorreta!</mat-error>
    </mat-form-field>
    <mat-error *ngIf="errorMsg ">{{ mensagem }}</mat-error>
    <div class="buttons">
      <button mat-flat-button color="basic" (click)="closeModal()">Cancelar</button>
      <button mat-flat-button color="primary" (click)="changePassword()">Enviar </button>
    </div>

  </mat-dialog-content>

</form>
